.bounding-box-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bounding-box-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bounding-box-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
