.bounding-box-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bounding-box-container img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit is set via inline style in JSX to avoid CSS specificity conflicts */
}

.bounding-box-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
